<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Girls Practice</title>
</head>
<body>
    <div class="blog">
        <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div class="publish">
        <h2><a href="">My First Post</a></h2>
        <p>published: 31.3.2020</p>
    </div>
    <div class="publish">
        <h2><a href="">My Second Post</a></h2>
        <p>published: 31.3.2020</p>
    </div>
</body>
</html>